 <div class="row">
    <div class="col-sm-7">
        <h2><%= @video.title %></h2>
        <%= content_tag :div, id: "video",
                data: [id: @video.id, player_id: player_id(@video)] do %> 
        <% end %>
    </div>
    <div class="column annotations">
        <div class="panel panel-default">
            
            <div class="panel-heading">
                <h3 class="panel-title">Annotations</h3>
            </div>
            
            <div id="msg-container" class="panel-body annotations"></div>

            <div>
                <textarea id="msg-input"
                            rows="3"
                            placeholder="Comment..."></textarea>

                <button id="msg-submit" class="button column"
                        type="submit">
                    Post
                </button>
            </div>
        </div>
    </div>
</div>