<h1>New User</h1>
<%= form_for @changeset, user_path(@conn, :create), fn f -> %>

    <%= if @changeset.action do %> 
        <div class="alert alert-danger">
            <p>Oops, something went wrong! Please check the errors below.</p>
        </div>
    <% end %>

    <div class="form-group">
        <%= text_input f, :name, placeholder: "Name", class: "form-control" %> 
        <%= error_tag f, :name %>
    </div>
    <div class="form-group">
        <%= text_input f, :username, placeholder: "Username", class: "form-control" %>
        <%= error_tag f, :username %> 
    </div>
    <div class="form-group">
        <%= password_input f, :password, placeholder: "Password", class: "form-control" %> 
        <%= error_tag f, :password %>
    </div>

    <%= submit "Create User", class: "btn btn-primary" %>    

<% end %>


