<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :url %>
  <%= text_input f, :url %>
  <%= error_tag f, :url %>

  <%= label f, :title %>
  <%= text_input f, :title %>
  <%= error_tag f, :title %>

  <%= label f, :description %>
  <%= textarea f, :description %>
  <%= error_tag f, :description %>

  <div class="form-group">
    <%= label f, :category_id, "Category", class: "control-label" %> 
    <%= select f, :category_id, @categories, class: "form-control", prompt: "Choose a category" %>
  </div>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
